:root {
--primary: #FE4A34;
--secondary: #383838;
--light: #FFFFFF;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    box-sizing: border-box;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    padding: 2%;
    background-color: #FE4A34;

}

h1, h2, h3 {
    color: var(--secondary);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--secondary);
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    scroll-behavior: smooth;

}

.picture {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.picture > img {
    justify-content: center;
    border: solid var(--primary);
    border-radius: 40px 10px;
    padding: 4px;
    width: 250px;
    height: 330px;
}

.me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 247px;
    color: var(--secondary);
    background-color: var(--primary);
    margin: 5%;
    flex-direction: column;
    font-size: 20px;

}

.mywork {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 550px;
    color: var(--secondary);
    background-color: var(--primary);
    margin: 5%;
    flex-direction: column;
}

.work > img {
    justify-content: center;
    width: 300px;
    height: 350px;
    border: 3px solid var(--secondary);
    padding: 5px;

}

.contactme {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 550px;
    color: var(--secondary);
    background-color: var(--primary);
    margin: 5%;
    flex-direction: row;
    flex-wrap: wrap;
}

.contactme a {
    display: flex;
    color: var(--secondary);
    font-size: 20px;
    padding: 3px;
}