:root {
--primary: #FE4A34;
--secondary: #383838;
--light: #FFFFFF;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 2;
    background-color: var(--secondary);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    padding: 2%;
    background-color: #FE4A34;

}

h1 {
    color: var(--secondary);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--secondary);
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;

}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
}

.picture {
    padding: 5px;
    border: 3px solid var(--secondary)  ;
    background-color: var(--secondary);
}

.picture > img {
    justify-content: center;
    width: 250px;
    height: 330px;
}

.work {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 550px;
    color: var(--secondary);
    background-color: var(--primary);
    margin: 5%;
    flex-direction: column;
}